@font-face {
    font-family: 'GTWalsheimPro-CondensedULight';
    src: url('GTWalsheimPro-CondensedUltraLight.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedUltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedBoldOblique.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedThin.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedLight.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedBlackOblique.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedBlackOblique.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'GTWalsheimPro-CondensedULightIt';
    src: url('GTWalsheimPro-CondensedUltraLightOblique.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedUltraLightOblique.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond';
    src: url('GTWalsheimPro-CondensedMediumOblique.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedMediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedRegular.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedThinOblique.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedThinOblique.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond Ultra';
    src: url('GTWalsheimPro-CondensedUltraBold.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedUltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedLightOblique.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond Ultra';
    src: url('GTWalsheimPro-CondensedUltraBoldOblique.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedUltraBoldOblique.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro Cond';
    src: url('GTWalsheimPro-CondensedMedium.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedBlack.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedBlack.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedBold.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro Condensed';
    src: url('GTWalsheimPro-CondensedRegularOblique.woff2') format('woff2'),
        url('GTWalsheimPro-CondensedRegularOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

